<div class="wrapper">
  <mat-card id="email-resend-card">
    <form name="form" (ngSubmit)="f.form.valid && resendEmail()" #f="ngForm" novalidate>

      <mat-form-field class="form-field" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <input matInput type="text" name="email" [(ngModel)]="emailDTO" #email="ngModel"
               required placeholder="Email"/>
        <div *ngIf="f.submitted && !email.valid" i18n="Required email error">Email is required</div>
      </mat-form-field>

      <div>
        <button id="registerButton" mat-raised-button color="primary" class="w-100" i18n="Send email button">Send e-mail</button>
      </div>
    </form>
  </mat-card>
</div>
