.wrapper {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/okUindP/flag-bearer-ussr-background_ey43gln9x__F0000.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

#error-card {
  width: 50%;
  margin: auto;
}

.w-100 {
  width: 100%;
  margin-bottom: 20px;
}

@media only screen and (min-width: 768px) {
  #error-card {
    width: 33%;
  }
}
