<div class="wrapper">
  <mat-card id="error-card">
      <h5 i18n="General error message">
        Oops looks like something went wrong!
      </h5>
      <div>
        <a mat-raised-button color="primary" class="w-100" routerLink="/" routerLinkActive="active" i18n="Home button">Home</a>
      </div>
  </mat-card>
</div>
