<div id="game">
  <div class="gameboard">
    <div id="top" class="column">
      <app-player *ngFor="let player of playersTop"
                  [player]="player">
      </app-player>
    </div>

    <div id="bottom" class="column">
      <app-player *ngFor="let player of playersBottom"
                  [player]="player">
      </app-player>
    </div>

    <div id="right" class="column">
      <app-player *ngFor="let player of playersRight"
                  [player]="player">
      </app-player>
    </div>

    <div id="left" class="column">
      <app-player *ngFor="let player of playersLeft"
                  [player]="player">
      </app-player>
    </div>

    <div id="table">
      <p>Role to vote: {{game?.roleTypeToVote}}</p>
      <div *ngFor="let vote of voteResults; let i = index">
        <span>{{vote.affected.userDTO.username}}</span>
        <section class="progress-section">
          <mat-progress-bar
            class="progress-margin"
            color="primary"
            mode="determinate"
            [value]="(getVoteResult(vote)/maxVotes) * 100">
          </mat-progress-bar>
        </section>
      </div>
    </div>
  </div>

  <div class="chats">

    <mat-card class="m-3 p-0">
      <mat-list>
        <h1 mat-subheader>Slav chat</h1>
        <mat-divider></mat-divider>
        <div #scrollSlavMessageBox class="box">
          <div class="w-100 m-0 px-2"  *ngFor="let text of slavText">
            <p class="px-2 message text-break">{{text}}</p>
          </div>
        </div>
      </mat-list>
    </mat-card>

    <mat-card class="m-3 p-0">
      <mat-list>
        <h1 mat-subheader>Stalin chat</h1>
        <mat-divider></mat-divider>
        <div #scrollStalinMessageBox class="box">
          <div class="w-100 m-0 px-2"  *ngFor="let text of stalinText">
            <p class="px-2 message text-break">{{text}}</p>
          </div>
        </div>
      </mat-list>
    </mat-card>

    <mat-card class="m-3 p-0">
      <mat-list>
        <h1 mat-subheader>Votes</h1>
        <mat-divider></mat-divider>
        <div #scrollVoteBox class="vote-box box">
          <div class="w-100 m-0 px-2"  *ngFor="let text of voteText">
            <p class="px-2 message text-break">{{text}}</p>
          </div>
        </div>
      </mat-list>
    </mat-card>
  </div>
</div>





