#game {
  display: grid;
  grid-template-columns: minmax(300px, auto) minmax(400px, 30%);
  grid-template-areas: "game chat";
  height: auto;
  min-height: calc(100vh - 128px);
  background-color: #C5CAE9;
}

.gameboard {
  grid-area: game;
  display: grid;
  grid-template-columns: 20% minmax(20%,60%) 20%;
  grid-template-rows: 20% auto 20%;
  grid-template-areas:
    '. top .'
    'left table right'
    '. bottom .';
}

#top {
  grid-area: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#right {
  grid-area: right;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#table {
  grid-area: table;
  border: 3px solid #000000;
  //background-color: burlywood;
  margin: 20px 30px;
  border-radius: 30px;
  text-align: center;
  background-image: url("https://cdn.discordapp.com/attachments/389129246259281922/556521723248246784/white-marble-texture-seamless-inspiration-6.png");
  background-size: cover;
  background-position: center;
}

.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10px;
}

.progress-margin {
  margin: 0 50px;
  height: 15px;
}

#texts {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  div {
    border: 2px solid;
    padding: 2px;
    margin: 2px;
    width: 250px;
    height: 200px;
    overflow: auto;
  }
}

.chats {
  grid-area: chat;
}

.box {
  overflow-y: auto;
  min-height: calc(30vh - 50px);
  height: calc(30vh - 50px);
  max-height: calc(30vh - 50px);
}

.vote-box {
  min-height: calc(30vh - 100px);
  height: calc(30vh - 100px);
  max-height: calc(30vh - 100px);
}

@media only screen and (min-width: 600px) {
  #game {
    min-height: calc(100vh - 64px);
  }
}



