#top {
  grid-area: top;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left {
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#right {
  grid-area: right;
  flex-direction: column;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#bottom {
  grid-area: bottom;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#table {
  grid-area: table;
  border: 3px solid #000000;
  margin: 20px 30px;
  border-radius: 30px;
  text-align: center;
  background-image: url("https://cdn.discordapp.com/attachments/389129246259281922/556521723248246784/white-marble-texture-seamless-inspiration-6.png");
  background-size: cover;
  background-position: center;
}

.progress-section {
  display: flex;
  align-content: center;
  align-items: center;
  height: 10px;
}

.progress-margin {
  margin: 0 50px;
  height: 15px;
}

