<div id="top">
  <app-player *ngFor="let player of playersTop"
              [player]="player" [votedOn]="player.participationId == participationIdVotedOn" (vote)="voteMethod($event)">
  </app-player>
</div>

<div id="bottom">
  <app-player *ngFor="let player of playersBottom"
              [player]="player" [votedOn]="player.participationId == participationIdVotedOn" (vote)="voteMethod($event)">
  </app-player>
</div>

<div id="right">
  <app-player *ngFor="let player of playersRight"
              [player]="player" [votedOn]="player.participationId == participationIdVotedOn" (vote)="voteMethod($event)">
  </app-player>
</div>

<div id="left">
  <app-player *ngFor="let player of playersLeft"
              [player]="player" [votedOn]="player.participationId == participationIdVotedOn" (vote)="voteMethod($event)">
  </app-player>
</div>


<div id="table">
  <p i18n="What role can currently vote">Role to vote: {{game.roleTypeToVote}}</p>
  <div *ngFor="let voteResult of voteResultsStatic; let i = index">
    <span>{{voteResults[i].username}}</span>
    <section class="progress-section">
      <mat-progress-bar
        class="progress-margin"
        color="primary"
        mode="determinate"
        [value]="(voteResults[i].voteCount/maxVotes) * 100">
        {{voteResults[i].username}}
      </mat-progress-bar>
    </section>
  </div>
</div>
