app-gameboard {
  grid-area: game;
  display: grid;
  height: calc(100vh - 128px);
  grid-template-columns: 20% minmax(20%,60%) 20%;
  grid-template-rows: 20% auto 20%;
  grid-template-areas:
    ". top ."
    "left table right"
    ". bottom .";
}

.game {
  background-color: #C5CAE9;
  display: grid;
  grid-template-columns: 100%;
  grid-template-areas: "game" "chat" "roles" "stats";
  height: auto;
  min-height: calc(100vh - 128px);
}

.my-roles {
  grid-area: roles;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.my-roles-inactive {
  margin: 0 16px 16px 16px;
}

.stats {
  grid-area: stats;
}

.kill-box {
  overflow-y: auto;
  height: calc(40vh - 16px - 132px);
  max-height: calc(40vh - 16px - 132px);
}

app-ingame-chat {
  grid-area: chat;
}
.modal {
  max-height: 80vh;
}

.modal-dialog {
  margin: 0;
}

.modal-header {
  background: #283593;
  color: white;
}

.modal-body {
  background: #C5CAE9;
}

.color-white {
  color: white;
}

.role-img {
  width: auto;
  height: auto;
  max-height: 40vh;
  margin: 0 auto;
}

.target-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.role-card {
  height: 100%;
  width: auto;
  max-height: 400px;
  padding-bottom: 25px;
}

.winners-list {
  height: 100%;
  min-width: 300px;
}

.title {
  color: #283593;
}

.mat-fab {
  height: 150px;
  width: 150px;
}

.center-button {
  display: flex;
  justify-content: center;
}

.result-grid {
  height: auto !important;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: minmax(400px, auto) 250px auto;
  grid-template-areas: "winners" "count" "killsInOrder";
}

.flex-winners {
  grid-area: winners;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.phase-count {
  grid-area: count;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.kills {
  grid-area: killsInOrder;
  text-align: center;
}

@media only screen and (min-width: 600px) {
  .modal-dialog {
    left: calc(50vw - 250px);
    top: 10%;
  }

  app-gameboard {
    height: calc(100vh - 64px);
  }

  .game {
    min-height: calc(100vh - 64px);
    height: auto;
  }

}

@media only screen and (min-width: 1000px) {
  .game {
    height: auto;
    grid-template-columns: minmax(300px, auto) minmax(400px, 30%);
    grid-template-rows: calc(50vh) calc(5vh) calc(40vh - 16px);
    grid-template-areas: "game chat" "game roles" "games stats";
  }
}

@media only screen and (min-width: 1000px) and (max-width: 1170px) {
  .result-grid {
    grid-template-rows: minmax(400px, auto) 250px auto;
  }

  .role-card {
    min-height: 400px;
  }
}

@media only screen and (min-width: 1500px) {
  .result-grid {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 400px auto;
    grid-template-areas: "winners count" "killsInOrder killsInOrder";
  }
}



