<div class="game" *ngIf="dto">
  <app-gameboard *ngIf="dto && !win" [game]="dto"
                 [voteResults]="voteResults"
                 [participationIdVotedOn]="participationIdVotedOn"
                 (vote)="voteMethod($event)"
                 [style.background]="dto?.state===
                 'DAY'?'url(https://cdn.discordapp.com/attachments/389129246259281922/556057694554030090/6da3c4228b17b9357ce6c3bd42a4c665.png)':
                 'url(https://cdn.discordapp.com/attachments/389129246259281922/556052662324559892/photo-1534796636912-3b95b3ab5986.png)'">
  </app-gameboard>

  <div *ngIf="win" class="m-3">
    <div class="mat-card">
      <div class="mat-card-header">
        <h4 class="modal-title w-100 text-center title">
          The game has been won by the {{gameStats?.winningRole}} role!
        </h4>
      </div>
      <div class="mat-card-content p-0">
        <div class="result-grid p-5">
          <div class="flex-winners">
            <img [src]="gameStats?.winningRoleImg" [alt]="gameStats?.winningRole" class="role-card"/>
            <div class="winners-list">
              <h2 class="text-center mb-2 title">Winners</h2>
              <p *ngFor="let winner of gameStats?.winners" class="text-center">{{winner}}</p>
            </div>
          </div>
          <div class="phase-count">
            <button mat-fab color="primary" class="mat-fab">phases: {{gameStats?.roundCount}}</button>
          </div>
          <div *ngIf="gameStats?.killsInOrder.length > 0" class="kills pt-3">
            <h2 class="title">Kills in order</h2>
            <p *ngFor="let kill of gameStats?.killsInOrder">{{kill}}</p>
          </div>
        </div>
        <div class="center-button">
          <button mat-raised-button color="primary" routerLink="/">Go to home</button>
        </div>
      </div>
    </div>
  </div>

  <app-ingame-chat [gameId]="dto?.gameId"></app-ingame-chat>

  <div [className]="!dto?.active ? 'my-roles my-roles-inactive' : 'my-roles mx-3'">
    <button mat-raised-button color="primary" (click)="basicModal.show(); getRolesByParticipation()">
      My roles
    </button>
    <button *ngIf="currentParticipation.roleNames.includes('HUNTER')" mat-raised-button color="primary"
            class="ml-3 px-2"
            (click)="openTargetModal('HUNTER'); actionModal.show();">Choose target
    </button>
    <button *ngIf="currentParticipation.roleNames.includes('MAYOR')" mat-raised-button color="primary" class="ml-3 px-1"
            (click)="openTargetModal('MAYOR'); actionModal.show();">Choose successor
    </button>
  </div>

  <div class="stats">
    <mat-card class="m-3 p-0" *ngIf="dto?.active">
      <mat-list>
        <h1 mat-subheader>Kills in order</h1>
        <mat-divider></mat-divider>
        <div #scrollKillBox class="kill-box">
          <div class="w-100 m-0 px-2" *ngFor="let kill of liveStats?.killsInOrder">
            <p class="px-2 text-break">{{kill}} executed!</p>
          </div>
        </div>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="text-center p-3">
        Phase count: {{liveStats?.roundCount}}
      </div>
    </mat-card>
  </div>
</div>

<div mdbModal #basicModal="mdbModal" class="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div #modalContent class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="basicModal.hide()">
          <span aria-hidden="true" class="color-white">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel-title">My roles</h4>
      </div>
      <div class="modal-body">

        <!-- CAROUSEL ROLES -->
        <mdb-carousel class="carousel slide carousel-slide" [animation]="'slide'">
          <mdb-carousel-item *ngFor="let role of roles">
            <div class="view w-100">
              <img class="d-block role-img" [src]="role.card" [alt]="role.card">
              <div class="waves-light" mdbWavesEffect></div>
            </div>
          </mdb-carousel-item>
        </mdb-carousel>

      </div>
    </div>
  </div>
</div>

<div mdbModal #actionModal="mdbModal" class="modal" aria-hidden="true">
  <div class="modal-dialog">
    <div #modalContent class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="actionModal.hide()">
          <span aria-hidden="true" class="color-white">×</span>
        </button>
        <h4 class="modal-title w-100">My roles</h4>
      </div>
      <div class="modal-body">
        <mat-button-toggle-group #group="matButtonToggleGroup" class="target-box" value="{{target}}">
          <mat-button-toggle *ngFor="let participation of getLivingParticipants()"
                             (click)="doSpecialMove(group.value)"
                             value="{{participation.participationId}}"
                             class="w-100">
            {{participation.userDTO.username}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
    </div>
  </div>
</div>
