<mat-list>
  <h1 mat-subheader i18n="Chat header">chat</h1>
  <mat-divider></mat-divider>
  <div #scrollMessageBox style="overflow-y: auto; max-height: 70vh">
    <div class="row w-100 m-0" *ngFor="let message of messages">
      <div class="col-12 col-lg-9">
        <p class="message text-break">{{message.text}}</p>
      </div>
      <div class="d-none d-lg-block col-lg-3 text-right">
        {{message.timestamp}}
      </div>
    </div>
  </div>
</mat-list>
<mat-divider></mat-divider>
<div class="grid">
  <mat-form-field class="px-3">
    <input id="input" #message maxlength="200" matInput [(ngModel)]="messageToSend.text"
           (keyup.enter)="sendMessage()">
    <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
  </mat-form-field>
  <button id="send" class="align-self-center" mat-mini-fab (click)="sendMessage()" color="primary">
    <mat-icon mat-list-icon i18n="Send button">send</mat-icon>
  </button>
</div>


