<mat-card class="m-3 p-0">
  <mat-tab-group headerPosition="below">
    <mat-tab *ngFor="let chat of this.chats" label="{{chat.name}}">
      <mat-list>
        <h1 mat-subheader>{{chat.name}}</h1>
        <mat-divider></mat-divider>
        <div #scrollMessageBox class="message-box">
            <div class="w-100 m-0 px-2" *ngFor="let message of chat.messages">
                <p class="px-2 message text-break">{{message.text}}</p>
            </div>
        </div>
      </mat-list>
      <mat-divider></mat-divider>
      <div class="grid">
        <mat-form-field class="px-3">
          <input #message maxlength="200" matInput [(ngModel)]="messageToSend.text" (keyup.enter)="sendMessage(chat.id, messageToSend.text)">
          <mat-hint align="end">{{message.value.length}} / 200</mat-hint>
        </mat-form-field>
        <button class="align-self-center" mat-mini-fab (click)="sendMessage(chat.id, messageToSend.text)" color="primary">
          <mat-icon mat-list-icon i18n="Send button">send</mat-icon>
        </button>
      </div>
    </mat-tab>
  </mat-tab-group>
</mat-card>

