.message {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever */
  word-break: break-all;
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.grid {
  display: grid;
  grid-template-columns: auto 50px;
}

.chat-title {
  background: #3F51B5;
}

.message-box {
  overflow-y: auto;
  height: calc(50vh - 162.5px);
  max-height: calc(50vh - 162.5px - 32px);
}
