<div class="wrapper">
  <mat-card id="register-form-card">
    <form name="form" id="login-form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>

      <mat-form-field class="form-field" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <input matInput type="text" name="email" [(ngModel)]="user.email" #email="ngModel"
               required placeholder="Email"/>
        <div *ngIf="f.submitted && !email.valid" i18n="Required email error">Email is required</div>
      </mat-form-field>

      <mat-form-field class="form-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input matInput type="password" name="password" [(ngModel)]="user.newPassword" #password="ngModel"
               required placeholder="Password"/>
        <div *ngIf="f.submitted && !password.valid" i18n="Required password error">Password is required</div>
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="text" name="username" [(ngModel)]="user.username" #username="ngModel"
               placeholder="UserName" i18n-placeholder="Username placeholder"/>
      </mat-form-field>

      <div>
        <button id="registerButton" mat-raised-button color="primary" class="w-100" [disabled]="loading" i18n="Register button">Register</button>
      </div>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
    </form>

    <div>
      <a mat-raised-button color="accent" class="w-100" routerLink="/register/resend" routerLinkActive="active" i18n="Resend email button">Resend verification e-mail</a>
    </div>

    <div>
      <a mat-raised-button color="accent" class="w-100" routerLink="/login" routerLinkActive="active" i18n="Log in button">Log In</a>
    </div>
  </mat-card>
</div>
