.wrapper {
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/okUindP/flag-bearer-ussr-background_ey43gln9x__F0000.png");
  background-size: cover;
  height: calc(100vh - 128px);
  display: flex;
  justify-content: center;
  align-content: center;
}

#register-form-card {
  width: 50%;
  margin: auto;
}

.form-field {
  width: 100%;
  margin: auto;
}

.w-100 {
  width: 100%;
  margin-bottom: 20px;
}

.alert{
  color: red;
}

@media only screen and (min-width: 600px) {
  .wrapper {
    height: calc(100vh - 64px);
  }
}

@media only screen and (min-width: 768px) {
  #register-form-card {
    width: 33%;
  }
}
