<mat-toolbar color="primary">
  <mat-toolbar-row class="menu">
    <mat-icon class="example-icon home" *ngIf="isLoggedIn" routerLink="/">home</mat-icon>
    <h3 id="title" class="title text-center">Secret Stalin</h3>
    <div class="controls">
      <form class="example-form" *ngIf="isLoggedIn">
        <mat-form-field class="example-full-width">
          <input id="user-search" type="text" placeholder="Search for user" aria-label="Number" matInput
                 [formControl]="myControl"
                 [matAutocomplete]="auto" (keyup.enter)="navigateToProfile()" [(ngModel)]="selected">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option"
                        routerLink="/user/profile/{{option}}">
              {{option}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </form>

      <mat-icon class="example-icon"
                matBadgeColor="warn"
                matBadge="{{notificationCount}}"
                [matMenuTriggerFor]="menu"
                [matBadgeHidden]="notificationCount===0"
                *ngIf="isLoggedIn"
                (click)="getNotifications()">
        notifications
      </mat-icon>

      <mat-icon id="chat" class="example-icon" *ngIf="isLoggedIn" routerLink="/chatlist">chat</mat-icon>
      <mat-icon id="logout" class="example-icon" (click)="logout()" *ngIf="isLoggedIn">logout</mat-icon>
    </div>
  </mat-toolbar-row>
  <mat-menu #menu="matMenu" class="mt-4" xPosition="before">
    <div mat-menu-item *ngFor="let notification of notifications" class="read-{{notification.read}} noti-width">
      <app-notification (childEvent)="updateNotificationCount($event)"
                        [notification]="notification"></app-notification>
    </div>
    <p i18n="End of notifications" mat-menu-item class="m-0">End of notifications</p>
  </mat-menu>
</mat-toolbar>
