mat-toolbar {
  height: 128px;
}

.example-icon {
  padding: 0 14px;
  cursor: pointer;
}

.example-icon:hover {
  font-size: 150%;
}

.example-spacer {
  flex: 1 1 auto;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 64px 64px;
  grid-template-areas: "home title"
  "controls controls";
}

.home {
  grid-area: home;
  justify-self: center;
}

.title {
  grid-area: title;
}

.controls {
  width: 75%;
  grid-area: controls;
  justify-self: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}

.flex-menu {
  display: flex;
  justify-content: space-around;
}

.word-wrap {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.read-false {
  background-color: #EDF1FB;
}

.example-form {
  display: inline;
  width: 150px;
  min-width: 100px;
  max-width: 500px;
}

.example-full-width {
  width: 150px;
}

.mat-menu-panel {
  max-width: 500px;
  width: 400px;
  max-height: calc(100vh - 40%);
}

.noti-width {
  max-width: 500px;
  width: 400px;
  max-height: calc(100vh - 40%);
}

@media screen and (min-width: 600px) {
  mat-toolbar {
    height: 64px;
  }

  .menu {
    grid-template-columns: 1fr 2fr 4fr;
    grid-template-rows: 64px;
    grid-template-areas: "home title controls";
  }
}

@media screen and (min-width: 830px) {
  .menu {
    grid-template-columns: 2fr 1fr 2fr;
  }
}

@media screen and (min-width: 980px) {
  .menu {
    grid-template-columns: 1fr 1fr 1fr;
  }
}


