<div class="wrapper">
  <mat-card id="email-resend-card">
    <h5 i18n="Email activation">Please confirm your email for activation from your account within 24hours.</h5>
    <div>
      <a mat-raised-button color="primary" class="w-100" routerLink="/register/resend" routerLinkActive="active" i18n="Resend email button">Resend verification e-mail</a>
    </div>
    <div>
      <a mat-raised-button color="accent" class="w-100" routerLink="/login" routerLinkActive="active" i18n="Log in button">Log In</a>
    </div>
    <div>
      <a mat-raised-button color="accent" class="w-100" routerLink="/register" routerLinkActive="active" i18n="Register button">Register</a>
    </div>
  </mat-card>
</div>
