<div class="wrapper p-3">
  <h1 class="text-center font-weight-bold m-2">Public lobbies</h1>
  <div class="flex-box px-5">
    <div class="m-3" *ngFor="let lobby of lobbies">
      <mat-card id="card-250">
        <h5 id="title" class="text-center font-weight-bold">{{lobby.gameSettings._gameName}}</h5>
        <div class="row p-2">
          <div class="col-9" i18n="Joined players text"># joined players:</div>
          <div class="col-3">{{lobby.users.length}}</div>
        </div>
        <div class="row p-2">
          <div class="col-9" i18n="Max players text">Max players:</div>
          <div class="col-3">{{lobby.gameSettings._maxPlayers}}</div>
        </div>
        <div class="centered mt-2">
          <button mat-raised-button color="primary" (click)="joinLobby(lobby.lobbyId)">Join</button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
