<div style="overflow-y: auto;">
  <mat-list >
    <h1 mat-subheader i18n="Chat header">Chat</h1>
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let chat of chatList" routerLink="/chat/{{chat.chatId}}">
      <mat-divider></mat-divider>
      <mat-icon mat-list-icon i18n="Message header">message</mat-icon>
      <h4 mat-line>{{chat.receiver}}</h4>
      <p mat-line>{{chat.lastMessage}}</p>
      <p mat-line>{{chat.lastMessageTime}}</p>
    </mat-list-item>
  </mat-list>
</div>
