<mat-card [ngClass]="player?.alive?'card-alive':'card-dead'" [style.background-color]="player?.alive?player.colorCode:'grey'" (click)="vote.emit({participationId: player.participationId})">
  <img mat-card-avatar class="header-image"
       [src]="player?.userDTO.profilePicture ? player?.userDTO.profilePicture :
       'https://cateringopmaat.nl/wp-content/uploads/2017/08/blank-profile-picture-973460_1280.png'"
       alt="image"/>
  <img *ngIf="!player?.alive" class="deceased" src="https://vignette.wikia.nocookie.net/dark-days-rpg/images/a/a9/Deceased.png/revision/latest?cb=20180509030125" alt="image" />
  <img *ngIf="votedOn" class="deceased" src="https://cdn.discordapp.com/attachments/389129246259281922/557135343627927555/Vote_stamp.png" alt="vote" />
  <p>{{player?.userDTO?.username}}</p>
</mat-card>
