mat-card {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  overflow-wrap: break-word;
  font-size: 1.5vw;
  max-font-size: 16px;
  color: white;
  width: 12vw;
  height: 9vw;
}

.bordered {
  border: 2px solid #9ecaed;
  border-radius: 20px;
  outline: none;
  box-shadow: 0 0 50px red;
}

.card-alive {

  .header-image {
    filter: grayscale(0%);
  }

  &:hover {
    op: -15px;
    box-shadow: 0 12px 16px rgba(0.1, 0.1, 0.1, 0.3);
  }
}

.deceased {
  background-size: cover;
  position: absolute;
  display: block;
  width: 100%;
  height: 10vw;
  transform: rotate(0deg);
  //image centreren
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
  filter: grayscale(100%);
  width: 50%;
  height: 80%;
}

