#grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 128px  auto;
}

app-game {
  height: 100px;
}

@media screen and (min-width: 600px) {
  #grid {
    grid-template-rows: 64px  auto;
  }
}


