.wrapper {
  background: #C5CAE9;
  background-size: cover;
  min-height: calc(100vh - 128px);
  height: auto;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flex-box-col {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}


.centered {
  display: flex;
  justify-content: center;
}

#card-300m {
  max-width: 300px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {
  .wrapper {
    min-height: calc(100vh - 64px);
  }
}

