<div class="wrapper p-3">
  <mat-card id="card-300m" class="flex-box-col p-3">
    <h4 i18n="Create game header" class="text-center font-weight-bold m-2">Create game</h4>

    <mat-form-field>
      <input matInput type="text" placeholder="Game name" [(ngModel)]="settings.gameName" [value]="settings.gameName">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Max players" [(ngModel)]="settings.maxPlayers" [value]="settings.maxPlayers">
    </mat-form-field>

    <mat-checkbox color="primary" [(ngModel)]="settings.isPrivate">Private game</mat-checkbox>

    <mat-form-field>
      <input matInput type="number" placeholder="Day duration (min)" [(ngModel)]="settings.dayTime" [value]="settings.dayTime">
    </mat-form-field>

    <mat-form-field>
      <input matInput type="number" placeholder="Night duration (min)" [(ngModel)]="settings.nightTime" [value]="settings.nightTime">
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="startLobby()" [disabled]="loading">Start</button>
  </mat-card>
</div>
