<div class="wrapper">
  <mat-card id="login-form-card">
    <form name="form" id="login-form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
      <div *ngIf="error" class="alert alert-danger" id="login-error-message">{{error}}</div>
      <mat-form-field class="form-field" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <input matInput type="text" name="email" [(ngModel)]="user.email" #email="ngModel"
               required placeholder="Email"/>
        <div *ngIf="f.submitted && !email.valid" i18n="Required email error">Email is required</div>
      </mat-form-field>

      <mat-form-field class="form-field" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <input matInput type="password" name="password" [(ngModel)]="user.password" #password="ngModel"
               required placeholder="Password"/>
        <div *ngIf="f.submitted && !password.valid" i18n="Required password error">Password is required</div>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary" id="loginButton" class="w-100" [disabled]="loading" i18n="Log in button">Log In</button>
      </div>
    </form>

    <div>
      <a mat-raised-button color="accent" class="w-100" routerLink="/register" routerLinkActive="active" i18n="Register button">Register</a>
    </div>
  </mat-card>
</div>


