.wrapper{
  background: url("https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/okUindP/flag-bearer-ussr-background_ey43gln9x__F0000.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-content: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  // position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.w-100 {
  width: 100%;
  margin-bottom: 20px;
}

#lobby-card {
  width: 50%;
  margin: auto;
}
