<div class="wrapper">
  <mat-card id="lobby-card">
    <div>
      <mat-list>
        <mat-list-item *ngFor="let user of users">{{user.username}} {{user.status}}</mat-list-item>
      </mat-list>
    </div>
    <div class="dropdown w-100">
      <button mat-raised-button color="primary" [matMenuTriggerFor]="menu" class="w-100" i18n="Invite Friends button">Invite Friends</button>
      <mat-menu #menu="matMenu">
        <div *ngFor="let user of currentUser.friends">
          <button  mat-menu-item (click)="invite(user.email)">{{user.username}}</button>
        </div>
      </mat-menu>

    </div>
    <button mat-raised-button color="primary" class="w-100" (click)="startGame()" i18n="Start game button">Start Game</button>
  </mat-card>
</div>
