
.blueprint {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto 350px;
}

.background {
  background-color: #C5CAE9;
}

.header {
  padding: 15px 0;
  display: grid;
  grid-template-columns: 100%;
  justify-items: center;
  grid-row-gap: 15px;
}

.profile-picture {
  overflow: hidden;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 5px solid #283593;
}

img {
  width: 200px;
  height: 200px;
}


.friends {
  overflow-y: auto;
}

.friend {
  cursor: pointer;
}


@media screen and (min-width: 700px) {

  .blueprint {
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 250px calc(99.8vh - 312px);
    grid-template-areas: "header header" "friends stats";
  }

  .header {
    margin: 0;
    grid-area: header;

    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    grid-row-gap: 0;

  }

  .friends {
    grid-area: friends;
  }

  .stats {
    grid-area: stats;
  }
}
