<div class="blueprint">

  <div class="header background">
    <div class="profile-picture">
      <img
        [alt]="user.username"
        [src]="user.profilePicture ? user.profilePicture : 'https://cateringopmaat.nl/wp-content/uploads/2017/08/blank-profile-picture-973460_1280.png'"/>
    </div>
    <h1 class="header-content">{{user.username}}</h1>
    <div *ngIf="!ownProfile">
      <button mat-raised-button color="primary" (click)="removeAsFriend(user.username)" *ngIf="isFriend">
        <mdb-icon fas icon="user-times header-content icon">
        </mdb-icon>
      </button>
      <button mat-raised-button color="primary" (click)="sendFriendRequest(user.username)"
              *ngIf="!isFriend && !hasFriendRequest && !hasFriendRequestPending">
        <mat-icon class="material-icons header-content icon">
          person_add
        </mat-icon>
      </button>
      <div *ngIf="!isFriend && hasFriendRequest">
        <button mat-raised-button color="primary" (click)="declineFriendRequest(user.username)">
          <mat-icon class="material-icons header-content icon">
            clear
          </mat-icon>
        </button>
        <button mat-raised-button color="primary" (click)="acceptFriendRequest(user.username)">
          <mat-icon class="material-icons header-content icon">
            check
          </mat-icon>
        </button>
      </div>
      <p *ngIf="!isFriend && hasFriendRequestPending">Pending...</p>
    </div>
    <div *ngIf="ownProfile">
      <button mat-raised-button color="primary" routerLink="/user/edit">
        <mat-icon class="material-icons header-content icon">
          settings
        </mat-icon>
      </button>
    </div>
  </div>

  <div class="friends p-5">
    <h2 class="text-center background py-2 mb-0" i18n="Friends header">
      Friends
    </h2>
    <div *ngFor="let friend of user.friends">
      <mat-list-item>
        <div align="center">
          <span (click)="navigateTo(friend.username)" class="friend text-center m-0 py-2">
            {{friend.username}}
          </span>
          <button mat-icon-button color="primary">
            <mdb-icon fas icon="user-times header-content icon" (click)="removeAsFriend(friend.username)" *ngIf="ownProfile"></mdb-icon>
          </button>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </div>
  </div>

  <div class="stats p-5">
    <h2 class="text-center background py-2 mb-0" i18n="Stats header">
      Stats
    </h2>
    <mat-list-item>
      <p class="text-center m-0 py-2" i18n="Games played header">
        Games played: {{userStats?.gamePlayedAsStalin + userStats?.gamesPlayedAsSlav}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p class="text-center m-0 py-2" i18n="Played as stalin text">
        Games played as stalin: {{userStats?.gamePlayedAsStalin}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p class="text-center m-0 py-2" i18n="Played as slav text">
        Games played as slav: {{userStats?.gamesPlayedAsSlav}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p class="text-center m-0 py-2" i18n="Games won as stalin text">
        Games won as stalin: {{userStats?.gamesWonAsStalin}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
      <p class="text-center m-0 py-2" i18n="Games won as slav text">
        Games won as slav : {{userStats?.gameWonAsSlav}}
      </p>
    </mat-list-item>
    <mat-divider></mat-divider>
  </div>
</div>
