<div class="wrapper">
  <mat-card class="mt-5">
    <form method="post" (ngSubmit)="saveUser()">
      <mat-form-field class="form-field">
        <input matInput [(ngModel)]="user.username" name="username" placeholder="Username">
      </mat-form-field>

      <img [src]="user.profilePicture" alt="profile pic" height="100px" width="100px">

      <mat-form-field class="form-field">
        <label>
          <input matInput hidden>
        </label>
        <input type="file" accept="/image/*" alt="" (change)="onFileChanged($event)" name="Profile picture"
               placeholder="Profile picture">
      </mat-form-field>
      <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      <mat-form-field class="form-field">
        <input matInput type="password" [value]="" [(ngModel)]="changedUser.oldPassword" name="password"
               placeholder="Old password">
      </mat-form-field>

      <mat-form-field class="form-field">
        <input matInput type="password" [value]="" [(ngModel)]="changedUser.newPassword" name="password"
               placeholder="New password">
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit">Save</button>
    </form>
  </mat-card>
  <mat-card>
    <form method="post" (ngSubmit)="saveSettings()">
      <mat-form-field>
        <label>
          <input matInput hidden>
          Ignore friend request notifications
          <input type="checkbox" [(ngModel)]="notificationSettings.ignoreFriendRequest" name="friend_request">
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput hidden>
          Ignore end phase notifications
          <input type="checkbox" [(ngModel)]="notificationSettings.ignoreEndPhase" [value]="notificationSettings.ignoreEndPhase" name="endphase">
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput hidden>
          Ignore invite notifications
          <input type="checkbox" [(ngModel)]="notificationSettings.ignoreInvite" name="invite">
        </label>
      </mat-form-field>
      <mat-form-field>
        <label>
          <input matInput hidden>
          Ignore your turn notifications
          <input type="checkbox" [(ngModel)]="notificationSettings.ignoreYourTurn" name="your_turn">
        </label>
      </mat-form-field>
      <button mat-raised-button type="submit" color="primary">Save</button>
    </form>
  </mat-card>
</div>
