<div id="grid">
  <div id="content">
    <mdb-carousel class="carousel slide carousel-slide" data-interval="10000" [animation]="'slide'">
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="w-100 d-block d-lg-none" src="https://cdn.discordapp.com/attachments/389129246259281922/554764247700209686/SlavCardMenuSmall.png" alt="SLAV">
          <img class="w-100 d-none d-lg-block d-xl-none" src="https://cdn.discordapp.com/attachments/389129246259281922/554761418386178129/SlavCard.png" alt="SLAV">
          <img class="w-100 d-none d-xl-block" src="https://cdn.discordapp.com/attachments/389129246259281922/554259115879170058/Wide_menu.png" alt="SLAV">
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="w-100 d-block d-lg-none" src="https://cdn.discordapp.com/attachments/389129246259281922/554764617864314890/StalinCardMenuSmall.png" alt="STALIN">
          <img class="w-100 d-none d-lg-block d-xl-none" src="https://cdn.discordapp.com/attachments/389129246259281922/554761421284573184/StalinCard.png" alt="STALIN">
          <img class="w-100 d-none d-xl-block" src="https://cdn.discordapp.com/attachments/389129246259281922/554259118039367693/Wide_stalin.png" alt="STALIN">
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="w-100 d-block d-lg-none" src="https://cdn.discordapp.com/attachments/389129246259281922/556882326764781568/Mayor_Mobile.png" alt="MAYOR">
          <img class="w-100 d-none d-lg-block d-xl-none" src="https://cdn.discordapp.com/attachments/389129246259281922/556503073489420289/MayorCardMenu.png" alt="MAYOR">
          <img class="w-100 d-none d-xl-block" src="https://media.discordapp.net/attachments/389129246259281922/556881392877699099/MayorCardWide.png?width=1442&height=557" alt="MAYOR">
        </div>
      </mdb-carousel-item>
      <mdb-carousel-item>
        <div class="view w-100">
          <img class="w-100 d-block d-lg-none" src="https://cdn.discordapp.com/attachments/389129246259281922/556882294141616148/Hunter_Mobile.png" alt="HUNTER">
          <img class="w-100 d-none d-lg-block d-xl-none" src="https://cdn.discordapp.com/attachments/389129246259281922/556499812154081301/HunterCardMenu.png" alt="HUNTER">
          <img class="w-100 d-none d-xl-block" src="https://cdn.discordapp.com/attachments/389129246259281922/556881365778432009/Hunter_Wide.png" alt="HUNTER">
        </div>
      </mdb-carousel-item>
    </mdb-carousel>
  </div>
  <div id="buttons" class="p-3">
    <button mat-raised-button color="primary" routerLink="/join" i18n="Join game button" class="m-2 btn-150">
      Join Game
    </button>
    <button mat-raised-button color="primary" routerLink="/settings" i18n="Create game button" class="m-2 btn-150">
      Create Game
    </button>
    <button mat-raised-button color="primary" routerLink="/games/active" class="m-2 btn-150" i18n="Active games button">
      Games overview
    </button>
    <button mat-raised-button color="primary" routerLink="/activelobbies" class="m-2 btn-150">
      Active Lobby's
    </button>
  </div>
</div>

<!-- TODO ? rounded buttons ? -->
