#grid {
  background: #C5CAE9;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto minmax(128px, auto);
  height: calc(100vh - 128px);
}

#buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

.btn-150 {
  min-width: 150px;
}


@media screen and (min-width: 600px) {
  #grid {
    height: calc(100vh - 64px);
  }
}

@media screen and (min-width: 1360px) {
  #grid {
    grid-template-rows: auto auto;
    height: calc(100vh - 64px);
  }
}




