.wrapper {
  background: #C5CAE9;
  background-size: cover;
  min-height: calc(100vh - 128px);
  height: auto;
}

.flex-box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.centered {
  display: flex;
  justify-content: center;
}

#card-250 {
  min-width: 250px;
}

@media screen and (min-width: 600px) {
  .wrapper {
    min-height: calc(100vh - 64px);
  }
}
