<div class="wrapper p-3">
  <h1 class="text-center font-weight-bold m-2">Your joined lobbies</h1>
  <div class="flex-box px-5">
    <div class="m-3" *ngFor="let lobby of lobbies">
      <mat-card id="card-250">
        <h5 id="title" class="text-center font-weight-bold">{{lobby.gameSettings._gameName}}</h5>
        <div class="row p-2">
          <div class="col-9">Lobby id:</div>
          <div class="col-3">{{lobby.lobbyId}}</div>
        </div>
        <div class="row p-2">
          <div class="col-9">Max players:</div>
          <div class="col-3">{{lobby.gameSettings._maxPlayers}}</div>
        </div>
        <div class="row p-2">
          <div class="col-9">Day duration (min):</div>
          <div class="col-3">{{lobby.gameSettings._dayTime}}</div>
        </div>
        <div class="row p-2">
          <div class="col-9">Night duration (min):</div>
          <div class="col-3">{{lobby.gameSettings._nightTime}}</div>
        </div>
        <div class="centered mt-2">
          <button mat-raised-button color="primary" routerLink="/lobby/{{lobby.lobbyId}}">
            <mat-icon class="material-icons">play_arrow</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>
