<div class="wrapper p-3">
  <h1 class="text-center font-weight-bold m-2">Your games</h1>
  <div class="flex-box px-5">
    <div class="m-3" *ngFor="let game of this.games">
      <mat-card id="card-250">
        <h5 class="text-center font-weight-bold">{{game.name}}</h5>
        <div class="row p-2">
          <div class="col-8">Gameid:</div>
          <div class="col-4">{{game.gameId}}</div>
        </div>

        <div *ngIf="game.active; else finished_game">
          <div class="row p-2">
            <div i18n="What role can currently vote" class="col-8">Role to vote:</div>
            <div i18n="In what state is the game" class="col-4">{{game.roleTypeToVote}}</div>
          </div>
          <div class="row p-2">
            <div class="col-8">State:</div>
            <div class="col-4">{{game.state}}</div>
          </div>
        </div>

        <ng-template #finished_game>
          <div class="row p-2">
            <div i18n="What role won" class="col-8">Winning role:</div>
            <div class="col-4">{{game.winningRole}}</div>
          </div>
          <div class="row p-2">
            <div class="col-8" i18n="Phase in which the player died">Ended on phase:</div>
            <div class="col-4">{{game.state}}</div>
          </div>
        </ng-template>

        <div class="centered mt-2">
          <button mat-raised-button color="primary" class="mr-2" routerLink="/game/{{game.gameId}}">
            <mat-icon class="material-icons" *ngIf="!game.active">bar_chart</mat-icon>
            <mat-icon class="material-icons" *ngIf="game.active">play_arrow</mat-icon>
          </button>
          <button mat-raised-button color="primary" class="ml-2" *ngIf="!game.active"
                  routerLink="/game/replay/{{game.gameId}}">
            <mat-icon class="material-icons">replay</mat-icon>
          </button>
        </div>
      </mat-card>
    </div>
  </div>
</div>





